body
{
	background-color: grey;
}


table th, td {
	border: 0px solid white;
    width: 20%; /* Ширина таблицы в процентах */
    height: 70%;
	background-image: grey;
   }
   
p {

}
pre {
	font-family: Calibri;
	color: white;
}


.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	border: 0px solid #555555;
	cursor: pointer;
}



.button {
  border-radius: 4px;
  background-color: #ffae00;
  border: none;
  color: #555555;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 2s;
  cursor: pointer;
  margin: 5px;
}

.button2 {
	background-color: #b8b8b8;
    color: grey;
    vertical-align: 70%;
    width: 30%;
    height: 100px;
	font-family: Velocity;
	font-size: 24px;
	border-radius: 15px;
}

.button2:hover {
    background-color: grey;
    color: #ffae00;
	font-family: Velocity;
	font-size: 29px;
	font-style: THE MAPLE ORIGINS;
}
   


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button span:after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 12px;
  right: -20px;
  transition: 0.5s;

}
.button:hover span {

  padding-right: 20px;
  	  transition: 0.4s;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
 
.button:hover
{
	  transition: 0.4s;
	 background-color: white;
}

.button1{
  border-radius: 4px;
  background-color: #ffae00;
  border: none;
  color: #555555;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 2s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button1 span:after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 12px;
  right: -20px;
  transition: 0.5s;

}
.button1:hover span {

  padding-left: 20px;
  	  transition: 0.4s;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
 
.button1:hover
{
	  transition: 0.4s;
	 background-color: white;
}


.button2 {

    color: grey;
    vertical-align: 70%;
    width: 30%;
    height: 100px;
	font-size: 24px;
	border-radius: 15px;
}

.button2:hover {
    background-color: grey;
    color: #ffae00;
	font-size: 29px;
	font-style: THE MAPLE ORIGINS;
}
   

